/* set html font-size */
html {
  font-size: 62.5%;
}

div {
  border: none;
}

body {
  height: 50vh;
  /* put bg-blackJack as background */
  background-image: url("./../images/bg-blackJack.jpg");
  background-size: cover;
}

#message,
#player-cards-total,
#dealer-cards-total {
  /* change color of text to white */
  color: aliceblue;
}
img {
  /* 250px = rem */

  height: 35rem;
}
/* for mobile screens add a media query that reduces height of cards to 8rem */
@media screen and (max-width: 600px) {
  img {
    height: 20rem;
  }
  /* remove blackJack nav */
  #nav-top {
    display: none;
  }
}
